@import './common';
@import './base/global';
@import './utils/min-max';
@import './utils/variables';
@import './components/footer';
@import './components/loader';
@import './components/pagination';
@import './movie-card';
@import './components/header';
@import './components/wrapper';
@import './components/movie-info';
@import './components/login-modal';
