$colors: (
  'header-text-color': #fff,
  'header-background-color': #0000008f,
  'footer-text-color': #545454,
  'footer-bacground-color': #f7f7f7,
  'title': #000,
  'accent': #ff6b01,
  'error': #ff001b,
  'background-modal': #ffffff,
  'modal-text-color': #8c8c8c,
  'modal-button-disabled': #b2afad,
);

@function getColor($key) {
  @return map-get($colors, $key);
}
