<footer class="footer">
  <div class="footer__wrapper container">
    <p class="footer__text">© 2023 | All Rights Reserved |</p>
    <p class="footer__text">
      Developed with
      <img
        class="footer__heart"
        src="/src/images/heart.svg"
        alt="beating heart"
      />
      by
      <a class="footer__link" data-team>GoIT Students</a>
    </p>
  </div>
</footer>

<div class="modal-container is-hidden ">
  <div class="backdrop">
    <div class="modal">
      <img class="footer__close" src="/src/images/xbutton.png" alt="x">
      <img
        class="footer__clapper"
        src="/src/images/clapper.png"
        alt="movie clapper"
      />
      <ul class="footer__list">
        <li class="footer__list-person"><a href="https://github.com/jkamin61" target="_blank">Juliusz Kaminski</li>
        <li class="footer__list-person"><a href="https://github.com/AdrianSiwek" target="_blank">Adrian Siwek</a></li>
        <li class="footer__list-person"><a href="https://github.com/asiaostrowska55" target="_blank">Asia Ostrowska</a></li>
        <li class="footer__list-person"><a href="https://github.com/KtianG" target="_blank">Krystian Guz</a></li>
        <li class="footer__list-person"><a href="https://github.com/CharlieLive" target="_blank">Karol Kozaczuk</a></li>
        <li class="footer__list-person"><a href="https://github.com/Dawid-Bazyluk" target="_blank">Dawid Bazyluk</a></li>
      </ul>
    </div>
  </div>
</div>