<header class="header">
  <div class="home-bg">
    <div class='login'>
      <button class='login__button'>Log in</button>
    </div>
    <div class='logout'>
      <button class='logout__button'>Log out</button>
    </div>
    <div class="header__items">
      <a href="/src/index.html" class="header__title">
        <svg class="header-icon">
          <use
            href="/src/images/header-icons.svg#icon-film"
            width="24px"
            height="24px"
          ></use>
        </svg>
        <h1 class="logo">Film library</h1>
      </a>

      <ul class="header__list">
        <li class="position">
          <a href="/src/index.html" class="header__link header__link--active"
            >Home</a
          >
        </li>
        <li class="position">
          <a href="/src/library.html" class="header__link">My Library</a>
        </li>
      </ul>
    </div>

    <form class="search-bar">
      <input
        type="text"
        class="search-bar__input"
        placeholder="Search for movies"
        autocomplete="off"
      />
      <button class="search-bar__btn" type="submit">
        <svg class="search-icon" width="12px" height="12px">
          <use href="/src/images/header-icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
