<header class="header">
  <div class="library-bg">
    <div class="header__items">
      <a href="/src/index.html" class="header__title">
        <svg class="header-icon">
          <use
            href="/src/images/header-icons.svg#icon-film"
            width="24px"
            height="24px"
          ></use>
        </svg>
        <h1 class="logo">Filmoteka</h1>
      </a>

      <ul class="header__list">
        <li class="position">
          <a href="/src/index.html" class="header__link">Home</a>
        </li>
        <li class="position">
          <a href="/src/library.html" class="header__link header__link--active"
            >My Library</a
          >
        </li>
      </ul>
    </div>

    <div class="library">
      <button class="library__btn watched">watched</button>
      <button class="library__btn queue">queue</button>
    </div>
    >
  </div>
</header>
