<!--login-->
<div id='login-form' class='login__modal'>
  <form class='login__form'>
    <div class='login__items'>
      <h2 class='login__heading'>Log in</h2>
      <img class='login__close' src='./images/log-reg-cross.svg' alt='close-button' width='14px' height='14px'>
    </div>
    <div class='login__inputs'>
      <input placeholder='E-mail' type='email' class='login__input' id='email-login' name='email' required>
      <input placeholder='Password' type='password' class='login__input' id='password-login' name='password' required>
    </div>
    <a class='login__reset'>Forgot your password?</a>
    <button type='submit' class='login__modal-btn'>Log in</button>
    <a class='login__register'>Don't have an account? Sign up</a>
  </form>
</div>
<!--register-->
<div id='register-form' class='register__modal' style='display:none;'>
  <form class='register__form'>
    <div class='register__items'>
      <h2 class='register__heading'>Sign up</h2>
      <img class='register__close' src='./images/log-reg-cross.svg' alt='close-button' width='14px' height='14px'>
    </div>
    <div class='register__inputs'>
      <input placeholder='Username' type='text' class='register__input' id='username-register' name='username' required>
      <input placeholder='E-mail' type='email' class='register__input' id='email-register' name='email' required>
      <input placeholder='Password' type='password' class='register__input' id='password-register' name='password'
             required>
      <input placeholder='Confirm Password' type='password' class='register__input' id='confirm-password-register'
             name='confirm-password' required>
    </div>
    <button type='submit' class='register__modal-btn'>Sign up</button>
    <a class='register__registered'>Already have an account? Log in</a>
  </form>
</div>