<div id="login-form" class='login__modal'>
  <form class='login__form'>
    <div class='login__items'>
    <h2 class='login__heading'>Log in</h2>
      <img class='login__close' src='./images/log-reg-cross.svg' alt='close-button' width='14px' height='14px'>
    </div>
      <label for="email-login" class='login__label'>E-mail:</label>
    <input type="email" class='login__input' id="email-login" name="email" required>
    <label for="password-login" class='login__label'>Password:</label>
    <input type="password" class='login__input' id="password-login" name="password" required>
    <button type="submit" class='login__modal-btn'>Log in</button>
  </form>
</div>
