
.footer {
  background-color: getColor('footer-bacground-color');
  text-align: center;

  padding-top: 28.7px;
  padding-bottom: 29.7px;

  &__text {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.143;
    color: getColor('footer-text-color');
    margin: 0;
  }

  &__link {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
  &__heart {
    width: 14px;
    height: 12.88px;
    display: -webkit-inline-box;
    animation: beat 1.2s infinite;
    margin-inline: 10px;
    margin-top: 9.9;
  }
  &__clapper {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  &__close {
    width: 25px;
    right: 2%;
    top: 15%;

    cursor: pointer;
  }
  &__close:hover {
    transform: scale(1.5);
  }

  &__list {
    list-style: none;
    padding: 0;
    top: 42%;
  }
  &__list-person {
    font-family: 'Fredericka the Great', cursive;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
  }
  &__list-person > a {
    list-style: none;
    text-decoration: none;
    color: inherit;
  }
  &__list-person:hover {
    transform: scale(1.2);
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  justify-content: center;
  display: flex;
  position: relative;
  top: 14%;
}
.modal > *:not(.footer__clapper) {
  position: absolute;
}
.is-hidden {
  display: none;
}

@media screen and (min-width: #{$tablet-width}) {
  .modal {
    top: 0%;
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 28px;

    &__wrapper {
      display: flex;
      justify-content: center;
    }
    &__heart {
      margin-top: 0;
    }

    &__list {
      top: 45%;
    }
    &__list-person {
      font-family: 'Fredericka the Great', cursive;
      font-size: 36px;
      color: white;
      margin-bottom: 10px;
    }
    &__clapper {
      max-width: 600px;
    }

    &__text {
      display: inline;
      font-size: 16px;
      line-height: 1.188;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 4px;
      }
    }
  }
}
