//mobile
.home-bg {
  background-image: url('/src/images/header-home-bg-min.jpg');
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.457);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 230px;
  width: 100%;
  margin: 0 auto;
}

.library-bg {
  background-image: url('/src/images/header-library-bg-min.jpg');
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.457);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 230px;
  width: 100%;
  margin: 0 auto;
}

.header {
  &__items {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    gap: 15px;
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition-duration: 250ms;

    &:focus {
      scale: 1.06;
      text-shadow: -2px 2px 15px rgba(255, 228, 210, 0.9);
    }
  }

  &__list {
    transition-duration: 250ms;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    gap: 39px;
  }

  &__link {
    color: getColor('header-text-color');
    text-decoration: none;
    font-weight: 500;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    transition-duration: 250ms;

    &:focus {
      scale: 1.06;
      text-shadow: -2px 2px 15px rgba(255, 228, 210, 0.9);
    }
  }
}

.header__link--active::after {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: getColor('accent');
  content: '';
  position: absolute;
  bottom: -3px;
  display: block;
}

.header-icon {
  width: 24px;
  height: 24px;
  position: relative;
  fill: getColor('header-text-color');
}

.logo {
  display: none;
  font-weight: 500;
  font-size: 30px;
  color: getColor('header-text-color');
  letter-spacing: 0.03em;
  margin: 0;
  transition-duration: 250ms;
}

.position {
  position: relative;
}

.search-bar {
  max-width: 280px;
  height: 20px;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  border-bottom: 1 solid getColor('header-text-color');

  &__input {
    border: none;
    flex-grow: 2;
    background: none;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    color: getColor('header-text-color');

    &:focus {
      box-shadow: inset 0px 9px 76px -25px rgba(77, 77, 77, 0.632);
    }
  }

  &__btn {
    cursor: pointer;
    border: none;
    background: none;
    margin: 0 auto;
  }
}

input::placeholder {
  color: getColor('header-text-color');
}

input:focus::placeholder {
  opacity: 0%;
}

.search-icon {
  margin: 0 auto;
  display: flex;
  width: 12px;
  height: 12px;
  padding: 0;
  opacity: 1;
  transition-duration: 250ms;
}

// --library btn--
.library {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;

  &__btn {
    width: 130px;
    height: 44px;
    border-radius: 5px;
    border: none;
    color: getColor('header-text-color');
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background: none;
    border: 1px solid getColor('header-text-color');
    transition-duration: 250ms;

    &:hover {
      scale: 1.06;
      text-shadow: -2px 2px 15px rgba(255, 228, 210, 0.9);
    }
  }
}

//active button
.btn--active {
  background-color: getColor('accent');
}

//tablet
@media (min-width: 768px) {
  .home-bg {
    background-image: url('/src/images/header-home-bg-mid.jpg');
  }
  .library-bg {
    background-image: url('/src/images/header-library-bg-mid.jpg');
  }
  .header {
    &__items {
      padding: 41px 71px;
    }

    &__title {
      gap: 10px;
      align-items: center;
      text-align: center;
      text-decoration: none;
      transition-duration: 250ms;
    }
  }
  .logo {
    display: flex;
  }
  .search-bar {
    max-width: 336px;
  }
}

//desktop
@media (min-width: 1024px) {
  .home-bg {
    background-image: url('/src/images/header-home-bg-max.jpg');
  }
  .library-bg {
    background-image: url('/src/images/header-library-bg-max.jpg');
  }
  .header {
    &__title {
      &:hover {
        scale: 1.06;
        text-shadow: -2px 2px 15px rgba(255, 228, 210, 0.9);
      }
    }

    &__link {
      &:hover {
        scale: 1.06;
        text-shadow: -2px 2px 15px rgba(255, 228, 210, 0.9);
      }
    }
  }
  .search-icon {
    opacity: 0.7;

    &:hover {
      opacity: 1;
      scale: 1.05;
    }
  }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .home-bg {
    background-image: url('/src/images/header-home-bg-min@2x.jpg');
  }
  .library-bg {
    background-image: url('/src/images/header-library-bg-min@2x.jpg');
  }
  @media (min-width: 768px) {
    .home-bg {
      background-image: url('/src/images/header-home-bg-mid@2x.jpg');
    }
    .library-bg {
      background-image: url('/src/images/header-library-bg-mid@2x.jpg');
    }
  }
  @media (min-width: 1024px) {
    .home-bg {
      background-image: url('/src/images/header-home-bg-max@2x.jpg');
    }
    .library-bg {
      background-image: url('/src/images/header-library-bg-max@2x.jpg');
    }
  }
}

.login {
  display: flex;
  justify-content: end;
  padding: 10px 10px;

  &__button {
    height: 24px;
    width: 60px;
    border-radius: 5px;
    border: none;
    color: getColor('header-text-color');
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background: none;
    border: 1px solid getColor('header-text-color');
    transition-duration: 250ms;
    font-weight: 500;
    line-height: 14px;
    text-decoration: none;
    font-weight: 500;
    line-height: 14px;
    text-decoration: none;
    color: #fff;
  }

  &__button:hover {
    scale: 1.06;
    text-shadow: -2px 2px 15px rgba(255, 228, 210, 0.9);
  }
}