.login {
  display: flex;
  justify-content: end;
  padding: 10px 30px;

  &__button {
    height: 24px;
    width: 60px;
    border-radius: 5px;
    border: none;
    color: getColor('header-text-color');
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background: none;
    border: 1px solid getColor('header-text-color');
    transition-duration: 250ms;
    font-weight: 500;
    line-height: 14px;
    text-decoration: none;
    font-weight: 500;
    line-height: 14px;
    text-decoration: none;
    color: #fff;
  }

  &__button:hover {
    scale: 1.06;
    text-shadow: -2px 2px 15px rgba(255, 228, 210, 0.9);
  }

  &__close:hover {
    cursor: pointer;
    scale: 1.06;
    text-shadow: -2px 2px 15px rgba(255, 228, 210, 0.9);
  }

  &__modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__form {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    max-height: 300px;
    border-radius: 10px;
  }

  &__heading {
    margin-top: 0;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 5px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  &__input::placeholder {
    color: black;
  }

  &__modal-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6b01;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__modal-btn:hover {
    background-color: #3e8e41;
  }

  &__modal-btn:focus {
    outline: none;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__reset {
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
    font-size: 10px;
    border-bottom: solid 2px #fff;
  }

  &__register {
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
  }

  &__register:hover,
  &__reset:hover {
    cursor: pointer;
    border-bottom: solid 2px #ff6b01;
  }
}

/// register

.register {
  display: flex;
  justify-content: end;
  padding: 10px 10px;

  &__button {
    height: 24px;
    width: 60px;
    border-radius: 5px;
    border: none;
    color: getColor('header-text-color');
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background: none;
    border: 1px solid getColor('header-text-color');
    transition-duration: 250ms;
    font-weight: 500;
    line-height: 14px;
    text-decoration: none;
    font-weight: 500;
    line-height: 14px;
    text-decoration: none;
    color: #fff;
  }

  &__button:hover {
    scale: 1.06;
    text-shadow: -2px 2px 15px rgba(255, 228, 210, 0.9);
  }

  &__close:hover {
    cursor: pointer;
    scale: 1.06;
    text-shadow: -2px 2px 15px rgba(255, 228, 210, 0.9);
  }

  &__modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__form {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    max-height: 400px;
    border-radius: 10px;
  }

  &__heading {
    margin-top: 0;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 5px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  &__input::placeholder {
    color: black;
  }

  &__modal-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6b01;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__modal-btn:hover {
    background-color: #3e8e41;
  }

  &__modal-btn:focus {
    outline: none;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__reset {
    padding-left: 5px;
    font-size: 10px;
  }

  &__registered {
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
  }

  &__registered:hover {
    cursor: pointer;
    border-bottom: solid 2px #ff6b01;
  }
}

.logout {
  display: none;
  justify-content: end;
  padding: 10px 20px;
  &__button {
    height: 24px;
    width: 60px;
    border-radius: 5px;
    border: none;
    color: getColor('header-text-color');
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background: none;
    border: 1px solid getColor('header-text-color');
    transition-duration: 250ms;
    font-weight: 500;
    line-height: 14px;
    text-decoration: none;
    font-weight: 500;
    line-height: 14px;
    text-decoration: none;
    color: #fff;
  }

  &__button:hover {
    scale: 1.06;
    text-shadow: -2px 2px 15px rgba(255, 228, 210, 0.9);
  }
}

@media screen and (min-width: 1024px) {
  .register__form {
    height: 460px;
  }
}
